#medialist li{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

#medialist li:hover{
    background-color: #777;
    color: black;
}

#playlist .path{
    color: red;
}

#playlist .ip{
    color: green;
}

#playlist .date{
    color: blue;
}

form{
    border: 1px solid black;
    width: 350px;
    padding: 10px;
    box-shadow: 0 0 5px 5px #ddd;
}

form legend{
    font-size: 1.2em;
    font-weight: bold;
}
